.bw-accordion-content--active {
  height: auto;
  opacity: 1;
}

.faq-4_answer.bw-accordion-content--active {
  padding-top: 1rem;
}

.presting-list_acc-content.bw-accordion-content--active {
  padding-bottom: 0.75rem;
}

.navbar_component {
  transition: transform 2s;
}

.navbar_component--init {
  transform: translateY(-100%);
}

.navbar_component--active {
  transform: translateY(0%);
  position: fixed;
  top: 0%;
}
